<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Header</title>
<link href="../../../Projekte/2025_Webportfolio/_GitHub/antonia-gross.github.io/style.css" rel="stylesheet" type="text/css">
	<div class="hamburger-menu">
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
</div>

<nav class="nav-menu" id="navMenu">
    <div class="close-menu">×</div>
    <div class="nav-links">
        <a href="index.html">Über Mich</a>
        <a href="projekte.html">Projekte</a>
        <a href="fotografien.html">Fotografien</a>
        <a href="illustrationen.html">Illustrationen</a>
    </div>
</nav>
</head>

<body>
</body>
</html>
